.contain {
    .row {
      .column {
        background: #FFFFFF;
        border-radius: 16px;
        box-shadow: 0px 2px 6px 4px #32475C05,
                    0px 2px 9px 0px #32475C0A,
                    0px 4px 4px 0px #00000040;
      }
    }
  }
  